.popupDebut {

  width: 500px;
  height: 243px;
  background-color: brown;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  border-radius: 20px;
  border: 1px solid white;

}

.popuptxt {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 1.3em;
  color: white;
  border-bottom: 1px solid white;

}

.popuptxt:last-child {

  border: 0px;

}

@media screen and (max-width: 500px) {

  .popuptxt {

    height: 50px;
    font-size: 0.8em;

  }

  .popupDebut {

    width: 310px;
    height: 200px;
  
  }
}