@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;

}

html, body {

    overflow: hidden;
    cursor: none;
    width: 3000px;
    height: 3000px;
    user-select: none;
    
}

body {

    background-color: rgb(28, 153, 28);

}

.player {

    background-image: url(player.png);
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    transition: background-image 0.1s ease-in-out;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

}

.chemin {

    background-image: url(chemin.png);
    margin: auto;
    position: absolute;
    top: 850px;
    left: 50px;
    bottom: 0;
    right: 0;
    width: 110px;
    height: 900px;
    border-top-left-radius: 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 80px;
    box-shadow: 7px 4px 30px 10px rgba(150,119,63,0.61);
    transform: rotate(-5deg);
}

.chemin::before {

    content: "";
    background-image: url(chemin.png);
    margin: auto;
    position: absolute;
    top: 720px;
    left: 40px;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 30px;
    box-shadow: -31px 15px 30px 10px rgba(150,119,63,0.61);
    transform: rotate(-15deg);

}

.chemin::after {

    content: "";
    background-image: url(chemin.png);
    margin: auto;
    position: absolute;
    top: 700px;
    left: 700px;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 900px;
    height: 100px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 20px;
    box-shadow: 19px -11px 37px 10px rgba(150,119,63,0.61);

}

.popup {

    width: 500px;
    height: 100px;
    background-color: brown;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    border-radius: 20px;
    border: 1px solid white;

}

.popuptxt {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.3em;
    color: white;

}

.menu {

    display: none;

}

body.active {

    cursor: auto;

}

.menu.active {

    display: block;
    cursor: pointer;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    width: 500px;
    height: 325px;
    position: fixed;

}

.btn {

    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    height: 79.6px;
    color: white;
    border-bottom: 1px solid white;
    z-index: -100;

}

.btn:first-child {

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.btn.code {

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom: 0px;

}

a {
    
    text-decoration: none;

}

.easteregg {

    margin: auto;
    position: absolute;
    top: 2900px;
    left: 2900px;
    bottom: 0;
    right: 0;

}